In [1]:
#import dependencies

import pandas as pd
from sqlalchemy import create_engine
import numpy as np

In [2]:
##EXTRACT
#apply csv file to parameter
csv_file = "imdb.csv"

#read in csv file, drop rows with corrupted data as identified when reviewing CSV
movie_df = pd.read_csv(csv_file, error_bad_lines=False,warn_bad_lines=False)
movie_df.head()

,fn,tid,title,wordsInTitle,url,imdbRating,ratingCount,duration,year,type,...,News,RealityTV,Romance,SciFi,Short,Sport,TalkShow,Thriller,War,Western
0,titles01/tt0012349,tt0012349,Der Vagabund und das Kind (1921),der vagabund und das kind,http://www.imdb.com/title/tt0012349/,8.4,40550.0,3240.0,1921.0,video.movie,...,0,0,0,0,0,0,0,0,0,0
1,titles01/tt0015864,tt0015864,Goldrausch (1925),goldrausch,http://www.imdb.com/title/tt0015864/,8.3,45319.0,5700.0,1925.0,video.movie,...,0,0,0,0,0,0,0,0,0,0
2,titles01/tt0017136,tt0017136,Metropolis (1927),metropolis,http://www.imdb.com/title/tt0017136/,8.4,81007.0,9180.0,1927.0,video.movie,...,0,0,0,1,0,0,0,0,0,0
3,titles01/tt0017925,tt0017925,Der General (1926),der general,http://www.imdb.com/title/tt0017925/,8.3,37521.0,6420.0,1926.0,video.movie,...,0,0,0,0,0,0,0,0,0,0
4,titles01/tt0021749,tt0021749,Lichter der Großstadt (1931),lichter der gro stadt,http://www.imdb.com/title/tt0021749/,8.7,70057.0,5220.0,1931.0,video.movie,...,0,0,1,0,0,0,0,0,0,0

In [3]:
##TRANSFORM
#Creating a clean dataframe with only pertinent columns
clean_movie_df = movie_df[['title','imdbRating','ratingCount','type']]
#Rename columns in dataframe to match up with table in SQL database
transformed_movie_df = clean_movie_df.rename(columns={"imdbRating":"imdb_rating",
                                                      "ratingCount":"rating_count",
                                                      "type":"medium"})


transformed_movie_df.head()

                              title  imdb_rating  rating_count       medium
0  Der Vagabund und das Kind (1921)          8.4       40550.0  video.movie
1                 Goldrausch (1925)          8.3       45319.0  video.movie
2                 Metropolis (1927)          8.4       81007.0  video.movie
3                Der General (1926)          8.3       37521.0  video.movie
4      Lichter der Großstadt (1931)          8.7       70057.0  video.movie

In [4]:
#Filtering out other types of media, focusing on only movies
final_movie_df = transformed_movie_df.loc[transformed_movie_df['medium']== 'video.movie']


final_movie_df.head()

                              title  imdb_rating  rating_count       medium
0  Der Vagabund und das Kind (1921)          8.4       40550.0  video.movie
1                 Goldrausch (1925)          8.3       45319.0  video.movie
2                 Metropolis (1927)          8.4       81007.0  video.movie
3                Der General (1926)          8.3       37521.0  video.movie
4      Lichter der Großstadt (1931)          8.7       70057.0  video.movie

In [5]:
#Moving the index to a column for use as an ID
final_movie_df.reset_index(inplace=True)

In [6]:
final_movie_df.rename(columns={'index':'id'},inplace=True)

final_movie_df.head()

C:\Users\phayes\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\frame.py:4025: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

,id,title,imdb_rating,rating_count,medium
0,0,Der Vagabund und das Kind (1921),8.4,40550.0,video.movie
1,1,Goldrausch (1925),8.3,45319.0,video.movie
2,2,Metropolis (1927),8.4,81007.0,video.movie
3,3,Der General (1926),8.3,37521.0,video.movie
4,4,Lichter der Großstadt (1931),8.7,70057.0,video.movie

In [7]:
#Adding the character M to the ID column, creating unique ID for movies
tolst_movies = list(final_movie_df['id'])
new_lst_movies = []
for i in enumerate(tolst_movies):
    new_lst_movies.append('M'+str(i[1]))

In [8]:
#Applying the unique ids into the final_movie_df DataFrame
final_movie_df['id'] = new_lst_movies

C:\Users\phayes\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [9]:

final_movie_df.head()

,id,title,imdb_rating,rating_count,medium
0,M0,Der Vagabund und das Kind (1921),8.4,40550.0,video.movie
1,M1,Goldrausch (1925),8.3,45319.0,video.movie
2,M2,Metropolis (1927),8.4,81007.0,video.movie
3,M3,Der General (1926),8.3,37521.0,video.movie
4,M4,Lichter der Großstadt (1931),8.7,70057.0,video.movie

In [10]:
final_movie_df.rename(columns={'id':'movie_id'},inplace=True)

In [11]:
##LOAD
#Create Connection to SQL DB
rds_connection_string = "postgres:Dr@gon88@localhost:5432/ETL_Grp_8"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [12]:
#Veryifying Table Name
engine.table_names()

['movies', 'books', 'titles']

In [13]:
#Load the dataframe into the SQL Database
final_movie_df.to_sql(name='movies', con=engine, if_exists='append', index=False)

In [14]:
#Verify Data in in the DB
pd.read_sql_query('select * from movies', con=engine).head()

,movie_id,title,imdb_rating,rating_count,medium
0,M0,Der Vagabund und das Kind (1921),8.4,40550.0,video.movie
1,M1,Goldrausch (1925),8.3,45319.0,video.movie
2,M2,Metropolis (1927),8.4,81007.0,video.movie
3,M3,Der General (1926),8.3,37521.0,video.movie
4,M4,Lichter der Großstadt (1931),8.7,70057.0,video.movie

In [15]:
# Further cleaning the dataframe for inclusion in the titles table
movie_titles_df = final_movie_df[['movie_id','title']]
movie_titles_df.head()

  movie_id                             title
0       M0  Der Vagabund und das Kind (1921)
1       M1                 Goldrausch (1925)
2       M2                 Metropolis (1927)
3       M3                Der General (1926)
4       M4      Lichter der Großstadt (1931)

In [16]:
#Renaming ID column to match titles table
movie_titles_df.rename(columns={'movie_id':'id'}, inplace=True)

movie_titles_df.head()

   id                             title
0  M0  Der Vagabund und das Kind (1921)
1  M1                 Goldrausch (1925)
2  M2                 Metropolis (1927)
3  M3                Der General (1926)
4  M4      Lichter der Großstadt (1931)

In [17]:
#Appending the movie informatioin to the titles table
movie_titles_df.to_sql(name='titles',con=engine,if_exists='append', index=False)

In [18]:
#Verify that the information has been loaded to the sql tables
pd.read_sql_query('select * from titles', con=engine).head()

   id                                              title
0  B1  Harry Potter and the Half-Blood Prince (Harry ...
1  B2  Harry Potter and the Order of the Phoenix (Har...
2  B3  Harry Potter and the Sorcerer's Stone (Harry P...
3  B4  Harry Potter and the Chamber of Secrets (Harry...
4  B5  Harry Potter and the Prisoner of Azkaban (Harr...

In [19]:
#Querying the titles table and movies table to search for movies based on a keyword

pd.read_sql_query("select m.movie_id,m.title,m.imdb_rating from movies m, titles t where m.movie_id = t.id and t.title like '%%Harry%%';",con=engine)

    movie_id                                              title  imdb_rating
0       M225  Harry Potter und die Heiligtümer des Todes - T...          8.1
1       M225  Harry Potter und die Heiligtümer des Todes - T...          8.1
2       M462                             Harry und Sally (1989)          7.6
3       M462                             Harry und Sally (1989)          7.6
4      M1031                                 Dirty Harry (1971)          7.8
5      M1031                                 Dirty Harry (1971)          7.8
6      M1113                            Harry außer sich (1997)          7.4
7      M1113                            Harry außer sich (1997)          7.4
8      M1621       Harry Potter und der Stein der Weisen (2001)          7.4
9      M1621       Harry Potter und der Stein der Weisen (2001)          7.4
10     M1622  Harry Potter und die Heiligtümer des Todes - T...          7.7
11     M1622  Harry Potter und die Heiligtümer des Todes - T...          7.7
12     M1623             Harry Potter und der Feuerkelch (2005)          7.6
13     M1623             Harry Potter und der Feuerkelch (2005)          7.6
14     M1624          Harry Potter und der Halbblutprinz (2009)          7.4
15     M1624          Harry Potter und der Halbblutprinz (2009)          7.4
16     M1625  Harry Potter und die Kammer des Schreckens (2002)          7.3
17     M1625  Harry Potter und die Kammer des Schreckens (2002)          7.3
18     M1626       Harry Potter und der Orden des Phönix (2007)          7.4
19     M1626       Harry Potter und der Orden des Phönix (2007)          7.4
20     M1627  Harry Potter und der Gefangene von Askaban (2004)          7.8
21     M1627  Harry Potter und der Gefangene von Askaban (2004)          7.8
22     M1671                                 Harry Brown (2009)          7.3
23     M1671                                 Harry Brown (2009)          7.3
24     M2096         Dirty Harry III - Der Unerbittliche (1976)          6.7
25     M2096         Dirty Harry III - Der Unerbittliche (1976)          6.7
26     M2328   Dirty Harry IV - Dirty Harry kommt zurück (1983)          6.6
27     M2328   Dirty Harry IV - Dirty Harry kommt zurück (1983)          6.6
28     M2590                        Wer ist Harry Crumb? (1989)          5.7
29     M2590                        Wer ist Harry Crumb? (1989)          5.7
..       ...                                                ...          ...
84     M1621       Harry Potter und der Stein der Weisen (2001)          7.4
85     M1621       Harry Potter und der Stein der Weisen (2001)          7.4
86     M1622  Harry Potter und die Heiligtümer des Todes - T...          7.7
87     M1622  Harry Potter und die Heiligtümer des Todes - T...          7.7
88     M1623             Harry Potter und der Feuerkelch (2005)          7.6
89     M1623             Harry Potter und der Feuerkelch (2005)          7.6
90     M1624          Harry Potter und der Halbblutprinz (2009)          7.4
91     M1624          Harry Potter und der Halbblutprinz (2009)          7.4
92     M1625  Harry Potter und die Kammer des Schreckens (2002)          7.3
93     M1625  Harry Potter und die Kammer des Schreckens (2002)          7.3
94     M1626       Harry Potter und der Orden des Phönix (2007)          7.4
95     M1626       Harry Potter und der Orden des Phönix (2007)          7.4
96     M1627  Harry Potter und der Gefangene von Askaban (2004)          7.8
97     M1627  Harry Potter und der Gefangene von Askaban (2004)          7.8
98     M1671                                 Harry Brown (2009)          7.3
99     M1671                                 Harry Brown (2009)          7.3
100    M2096         Dirty Harry III - Der Unerbittliche (1976)          6.7
101    M2096         Dirty Harry III - Der Unerbittliche (1976)          6.7
102    M2328   Dirty Harry IV - Dirty Harry kommt zurück (1983)          6.6
103    M2328   Dirty Harry IV - Dirty Harry kommt zurück (1983)          6.6
104    M2590                        Wer ist Harry Crumb? (1989)          5.7
105    M2590                        Wer ist Harry Crumb? (1989)          5.7
106    M3587       Der Ärger mit Harry geht weiter (Video 2001)          6.6
107    M3587       Der Ärger mit Harry geht weiter (Video 2001)          6.6
108    M6534                       Immer Ärger mit Harry (1955)          7.2
109    M6534                       Immer Ärger mit Harry (1955)          7.2
110    M6782  Who Is Harry Nilsson (And Why Is Everybody Tal...          7.7
111    M6782  Who Is Harry Nilsson (And Why Is Everybody Tal...          7.7
112   M10829  Archie und Harry - Sie können's nicht lassen (...          6.1
113   M10829  Archie und Harry - Sie können's nicht lassen (...          6.1

[114 rows x 3 columns]